@font-face {
    font-family: 'Colaborate';
    src: url('Colaborate.eot');
    src: url('Colaborate.eot?#iefix') format('embedded-opentype'),
        url('Colaborate.woff2') format('woff2'),
        url('Colaborate.woff') format('woff'),
        url('Colaborate.ttf') format('truetype'),
        url('Colaborate.svg#Colaborate') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Colaborate';
    src: url('Colaborate-Medium.eot');
    src: url('Colaborate-Medium.eot?#iefix') format('embedded-opentype'),
        url('Colaborate-Medium.woff2') format('woff2'),
        url('Colaborate-Medium.woff') format('woff'),
        url('Colaborate-Medium.ttf') format('truetype'),
        url('Colaborate-Medium.svg#Colaborate-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

