@{
    ViewData["Title"] = "Müşteri ilişkileri yönetimi";
}
@section Header{
    <div class="header">
        <div class="laptop">
            <img src="~/img/laptop.png" alt="Crm Programı" />
        </div>
        <div class="wom">
            <img src="~/img/wom-01.png" title="Müşteri İlişkileri Yönetimi" />
            <div class="wom-title">
                <h1>
                    Ücretsiz Müşteri İlişkileri Yönetimi
                </h1>
                <hr />
                <span class="under-title">
                    Customer Service Managment
                </span>
            </div>
        </div>
    </div>
}
<main>
    <section id="description">
        <div class="des">
            <p>
                Fırsatlarınız, işletmenizin potansiyelli müşteriler yaratması için ana fırsattır!! Fırsatları kaydedip ve takip ederek satışlarda başarı ve başarısızlığın nedenleri hakkında doğru bilgi edinin ve planlayarak satış başarısını artırın.
            </p>
            <p>
                Satış sonrası hizmet sunarken, en iyi sistem taleplere cevap vermektir. Müşteri biletleme yazılımındaki bu sistem, taleplerin kaydedilmesi ve gönderilmesi için gerekli platformu oluşturarak, crm sistemi izleyerek, kayıtlı istekleri gözden geçirme, müşteri ihtiyaçlarını karşılama ve onlarla etkili iletişim kurma sürecini hızlandırarak süreci hızlandırmak için kullanılabilir.
            </p>
        </div>
        <div class="des"></div>
    </section>
    <section id="media">
        <div class="media-title">
            <h2>Müşteri İlişkileri Yöneticisi</h2>
        </div>
        <div class="media-box">
            <div class="media-content">
                <img src="~/img/media3.png" alt="crm programı" />
            </div>
            <div class="media-content">
                <img src="~/img/media1.png" alt="crm sistemi" />
            </div>
        </div>

    </section>
    <section id="content">
        <div class="content-box">
            <div class="content-item">
                <span>
                    <i class="fa fa-wifi"></i>
                </span>
                <div class="content-text">
                    <h3>Web üzerinden yazılıma kolay erişim</h3>
                    <p>
                        CRM programı , Web tabanlı mimarisiyle، Her tür cihazda ve tarayıcıda çalıştırılabilir.
                    </p>
                </div>
            </div>
            <div class="content-item">
                <span>
                    <i class="fa fa-desktop"></i>
                </span>
                <div class="content-text">
                    <h3>zaman ve maliyette azalma</h3>
                    <p>
                        CRM yazılımı ile, müşteri ve personeliniz arasındaki düzenli ve izlenebilir iletişim nedeniyle, zaman ve maliyetlerinizde önemli bir azalma olacaktır.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="gallery">
        <div class="gallery-box">
            <h2>CRM yazılımının özellikleri</h2>
            <div class="gallery-item-box">
                <div class="gallery-item">

                    <div class="min-box">
                        <div class="min-box-mask">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <img src="~/img/Untitled-1_08.jpg" />
                        <div class="box-text">
                            <span>How to ...?</span>
                        </div>

                    </div>

                    <div class="min-box">
                        <div class="min-box-mask">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <img src="~/img/Untitled-1_09.jpg" />
                        <div class="box-text">
                            <span>
                                Belive in yourself
                            </span>
                        </div>
                    </div>
                </div>
                <div class="gallery-item">
                    <div class="min-box">
                        <div class="min-box-mask">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <img src="~/img/Untitled-1_01.jpg" />
                        <div class="box-text">
                            <span>
                                Kolay personel yönetimi
                            </span>
                        </div>
                    </div>
                    <div class="min-box">
                        <div class="min-box-mask">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <img src="~/img/Untitled-1_03.jpg" />
                        <div class="box-text">
                            <span>
                                work in a goup Doesn't seem as so easy
                            </span>
                        </div>
                    </div>
                </div>
                <div class="gallery-item">
                    <div class="min-box">
                        <div class="min-box-mask">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <img src="~/img/Untitled-1_05.jpg" />
                        <div class="box-text">
                            <span>
                                Self motivational proceddures
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>



    <section id="suport">

        <div class="suport-main">
            <img src="~/img/wom-02.png" />
            <div class="suport-text">
                <h2>online Support</h2>
                <hr />
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                </p>
                <div class="suport-media-box">
                    <div class="suport-media">
                        <img src="~/img/suport1.png" />
                    </div>
                    <div class="suport-media">
                        <img src="~/img/suport2.png" />
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="rank">
        <div class="rank-box">
            <div class="rank-item">
                <span>100%</span>
                <p>Success</p>
            </div>
            <div class="rank-item">
                <span>700+</span>
                <p>Online Courses</p>
            </div>
            <div class="rank-item">
                <span>3M+</span>
                <p>Trainees</p>
            </div>
            <div class="rank-item">
                <span>120+</span>
                <p>Trainers</p>
            </div>
        </div>
    </section>

    <section id="ads">
        <div class="ads-box">
            <h3>
                Your Subtitle goes here
            </h3>
            <h4>
                Your Subtitle goes here
            </h4>
            <div class="text-box">
                <img src="~/img/wifi (1).png" />
                <p>
                    Satış sonrası hizmet sunarken, en iyi sistem taleplere cevap vermektir. Müşteri biletleme yazılımındaki bu sistem, taleplerin kaydedilmesi ve gönderilmesi için gerekli platformu oluşturarak, crm sistemi izleyerek, kayıtlı istekleri gözden geçirme, müşteri ihtiyaçlarını karşılama
                </p>
            </div>

            <div class="ads-media">
                <div class="ads-media-item">
                    <img src="~/img/Home02-b_07.jpg" />
                </div>
                <div class="ads-media-item">
                    <img src="~/img/Home02-b_09.jpg" />
                </div>
                <div class="ads-media-item">
                    <img src="~/img/Home02-b_11.jpg" />
                </div>
            </div>

            <div class="text-box">
                <img src="~/img/computer.png" />
                <p>
                    Satış sonrası hizmet sunarken, en iyi sistem taleplere cevap vermektir. Müşteri biletleme yazılımındaki bu sistem, taleplerin kaydedilmesi ve gönderilmesi için gerekli platformu oluşturarak, crm sistemi izleyerek, kayıtlı istekleri gözden geçirme, müşteri ihtiyaçlarını karşılama
                </p>
            </div>
        </div>
    </section>

    <section id="options">
        <h2>
            Customer Service Management
        </h2>
        <div class="option-box">
            <div class="option-item">
                <img src="~/img/lock.png" />
                <h3>Private</h3>
                <span>
                    Alice Messanger uses advance encryption to protect your chat .
                </span>
            </div>
            <div class="option-item">
                <img src="~/img/dailog.png" />
                <h3>Open And Free</h3>
                <span>
                    Our App is open Source and free for all registred users .
                </span>
            </div>
            <div class="option-item">
                <img src="~/img/ballon.png" />
                <h3>Cloud-Base</h3>
                <span>
                    we store the most important data in our secure cloud storage
                </span>
            </div>

        </div>
    </section>

    <section id="footer">
        <div class="footer-box">
            <div class="footer-col">
                <h5>Header</h5>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
            </div>
            <div class="footer-col">
                <h5>Another Header</h5>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
            </div>
            <div class="footer-col">
                <h5>The other one</h5>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
            </div>
            <div class="footer-col">
                <h5>Else one</h5>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
                <div>
                    <p>this is a title linking you to another page</p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="contact">
            <h2>Contact Us</h2>
            <a href="tel:+905526278675">(+90)552-627-8675</a>
            <a href="mail:info@TurkCRM.Net">info@turkcrm.net</a>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="world-map">
            <img src="~/img/map.png" />
        </div>
    </section>

</main>