@{
    ViewData["Title"] = "Home Page";
}
@section Header{
    <div class="header">
        <div class="laptop">
            <img src="~/img/laptop.png" />
        </div>
        <div class="wom">
            <img src="~/img/wom-01.png" />
            <div class="wom-title">
                <span>
                    Customer Service Managment
                </span>
                <hr />
                <span class="under-title">
                    Customer Service Managment
                </span>
            </div>
        </div>
    </div>
}
<main>
    <section id="description">
        <div class="des">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
        </div>
        <div class="des"></div>
    </section>


    <section id="media">
        <div class="media-title">
            <h1>Customer Service Management</h1>
        </div>
        <div class="media-box">
            <div class="media-content">
                <img src="~/img/media3.png" />
            </div>
            <div class="media-content">
                <img src="~/img/media1.png" />
            </div>
        </div>
    </section>

    <section id="suport">

        <div class="suport-main">
            <img src="~/img/wom-02.png" />
            <div class="suport-text">
                <h2>online Support</h2>
                <hr />
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                </p>
                <div class="suport-media-box">
                    <div class="suport-media">
                        <img src="~/img/suport1.png" />
                    </div>
                    <div class="suport-media">
                        <img src="~/img/suport2.png" />
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section id="options">
        <h1>
            Customer Service Management
        </h1>
        <div class="option-box">
            <div class="option-item">
                <img src="~/img/lock.png" />
                <h3>Private</h3>
                <span>
                    Alice Messanger uses advance encryption to protect your chat .
                </span>
            </div>
            <div class="option-item">
                <img src="~/img/dailog.png" />
                <h3>Open And Free</h3>
                <span>
                    Our App is open Source and free for all registred users .
                </span>
            </div>
            <div class="option-item">
                <img src="~/img/ballon.png" />
                <h3>Cloud-Base</h3>
                <span>
                    we store the most important data in our secure cloud storage
                </span>
            </div>

        </div>
    </section>

    <section id="contact">
        <div class="contact">
            <h2>Contact Us</h2>
            <a href="tel:+905346208652">+905346208652</a>
            <a href="mail:info@TurkCRM.Net">info@turkcrm.Net</a>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="world-map">
            <img src="~/img/map.png" />
        </div>
    </section>

</main>