@{
    ViewData["Title"] = "Ücretsiz Müşteri ilişkileri yönetimi";
}
@section head{
    <link rel="canonical" href="https://turkcrm.net" />
    <meta property="og:type" content="page" />
    <meta property="og:title" content="Türk CRM Programı" />
    <meta property="og:image" content="https://turkcrm.net/img/logo.jpg" />
    <meta property="og:description" content="Ücretsiz Müşteri ilişkileri yönetimi" />
    <meta property="og:url" content="https://turkcrm.net" />
    <meta property="og:site_name" content="Türk CRM Programı" />
}

<div class="header">
    <div class="laptop">
        <img src="~/img/laptop.png" alt="CRM Programı" />
    </div>
    <div class="wom">
        <img src="~/img/wom-01.png" alt="Ücretsiz Müşteri İlişkileri Yönetimi" />
        <div class="wom-title">
            <h1>
                Müşteri İlişkileri Yönetimi
            </h1>
            <hr />
            <span class="under-title">
                Ücretsiz Türk CRM Programı
            </span>
        </div>
    </div>
</div>
<main>
    <section id="description">
        <div class="des">
            <h1>CRM Nedir?</h1>
            <p>
                CRM kelimesi (Customer Relationship Management) kısaltmasıdır ki bir şirketin veya mevcut müşterilerin ve potansiyelli müşterilerin (fırsatlar) etkileşimlerini yönetmenin bir çözümdür, Satışları artırmak ve müşterilerinin Satışlarını tekrarlamak amacıyla Türk CRM yazılımında kaydedilen verilere dayanarak CRM yazılımı, müşterileri ile iş ilişkisini geliştirmeye çalıştırmaktadır.
                Telefon, e-posta, web sitesi üzerinden iletişim, SMS ve müşteri ilişkileri yönetimi yazılımının yüz yüze toplantısı gibi müşterilerle olan tüm satış ve destek personeli etkileşimleri kaydedilir bu da tüm müşteri bilgileri ve onlarla etkileşimler için merkezi bir veritabanı oluşturur.
                Bu bölümdeki satış boru hattı yazılımının(sales pipleline) önemli özelliklerinden biri, satış hattının hammaddeleri olarak girme ve müşteriler satış hattının son aşamasından ayrılma fırsatıdır,  satış hattı hızlandırarak, takibi doğru ve düzenli hale getirerek , birçok önemli göstergeyi ölçülebilir
            </p>
        </div>
        <div class="des"></div>
    </section>
    <section id="media">
        <div class="media-box">
            <div class="media-content">
                <a href="/Neden-CRM-yazılımı" class="btn-big dark-gray" title="neden crm programı?">Neden CRM Yazılımı?</a>
            </div>
            <div class="media-content">
                <a href="https://go.turkcrm.net" class="btn-big dark-blue" title="Hemen Başlayın">Hemen Başlayın</a>
            </div>
        </div>

    </section>
    <section id="content">
        <div class="content-box">
            <div class="content-item">
                <span>
                    <i class="fa fa-wifi"></i>
                </span>
                <div class="content-text">
                    <h3>Web üzerinden yazılıma kolay erişim</h3>
                    <p>
                        CRM programı , Web tabanlı mimarisiyle، Her tür cihazda ve tarayıcıda çalıştırılabilir.
                    </p>
                </div>
            </div>
            <div class="content-item">
                <span>
                    <i class="fa fa-desktop"></i>
                </span>
                <div class="content-text">
                    <h3>zaman ve maliyette azalma</h3>
                    <p>
                        CRM yazılımı ile, müşteri ve personeliniz arasındaki düzenli ve izlenebilir iletişim nedeniyle, zaman ve maliyetlerinizde önemli bir azalma olacaktır.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="gallery">
        <div class="gallery-box">
            <h2>CRM yazılımının özellikleri</h2>
            <div class="gallery-item-box">

                <div class="min-box box-1">
                    <div class="min-box-mask">
                        <p>
                            Acil rapor ihtiyacı nedeniyle, CRM yazılımında yöneticilerin ihtiyaç duydukları çeşitli raporları CRM yazılım raporları bölümündeki çeşitli grafiklerde veya tablolarda alabilmeleri mümkündür.
                            Örneğin, satış durumu raporunu aşağıdaki satış süreci tarafından ayrı ayrı size gösterilmiş.
                        </p>
                    </div>
                    <img src="~/img/Untitled-1_08.jpg" alt="Raporlar" />
                    <div class="box-text">
                        <span>Raporlar...</span>
                    </div>

                </div>

                <div class="min-box box-2">
                    <div class="min-box-mask">
                        <p>
                            CRM yazılımı ile, alıcıları satın alma miktarına göre sıralayın ve onlar için özel bir fiyat listesi ve indirimler düşünün. Bu şekilde müşterilerin gerçek değerine en iyi tepkiyi gösterebilirsiniz
                        </p>
                    </div>
                    <img src="~/img/Untitled-1_09.jpg" alt="Optimum reaksiyonlar için müşterilerin değerini keşfedin" />
                    <div class="box-text">
                        <span>
                            Optimum reaksiyonlar için müşterilerin değerini keşfedin
                        </span>
                    </div>
                </div>

                <div class="min-box box-3">
                    <div class="min-box-mask">
                        <p>
                            Profesyonel yöneticiler, kuruluşun farklı bölümlerindeki otomasyon süreçlerinin otomatikleştirilmesini ister ve bir iş yapmak için tüm adımların ayrıntılı olarak yapılıp yapılmadığı konusunda endişelenmesini istemiyorlar.
                            CRM yazılımı, satış, pazarlama, satış sonrası servis vb. Dahil olmak üzere şirketin tüm süreçlerini otomatikleştirmeye yardımcı olur.
                        </p>
                    </div>
                    <img src="~/img/Untitled-1_05.jpg" alt="İş Akışı" />
                    <div class="box-text">
                        <span>
                            İş Akışı
                        </span>
                    </div>
                </div>

                <div class="min-box box-4">
                    <div class="min-box-mask">
                        <p>
                            Türk CRM yazılımı, bir iş sistemindeki manuel faaliyetleri tanımlanan kurallarla değiştirir. Bu, faaliyetleri daha iyi hale getirecek, verimliliği ve doğruluğu artıracak ve sonuçta kullanıcının koşullarını yöneticiler için daha yönetilebilir hale getirecektir. CRM yazılımı, kurumsal görevleri belirlemek ve düzenlemek için gerekli altyapıyı sağlar. Bu araçla, yazılımdaki erişim düzeylerini belirleyerek kuruluştaki kullanıcıların görevlerini netleştirebilirsiniz.
                        </p>
                    </div>
                    <img src="~/img/Untitled-1_01.jpg" alt="Kolay personel yönetimi" />
                    <div class="box-text">
                        <span>
                            Kolay personel yönetimi
                        </span>
                    </div>
                </div>

                <div class="min-box box-5">
                    <div class="min-box-mask">
                        <p>
                            CRM programı, marka ile müşteri ilişkilerini güçlendirmek ve gelecekteki pazarlama programlarını geliştirmek için tasarlanmıştır. Müşteri sadakati ve bağlılığı sağlamak , crm yazılımının ana görevidir. Bu şekilde, bu yazılım sayesinde, müşterinin aktivite durumunun farkında olabilir ve daha derin bir bakış açısıyla sınıflandırabilirsiniz.
                        </p>
                    </div>
                    <img src="~/img/Untitled-1_03.jpg" alt="Bağlılığı artırın" />
                    <div class="box-text">
                        <span>
                            Bağlılığı artırın
                        </span>
                    </div>
                </div>

            </div>

        </div>
    </section>


    @*<div style="clear:both"></div>*@
    <section id="suport">
        <div class="suport-main">
            <img src="~/img/wom-02.png" alt="Fırsat yönetimi" />
            <div class="suport-text">
                <h2>Fırsat yönetimi</h2>
                <hr />
                <p>
                    Çevrimiçi pazarlamacılar, telefon pazarlamacılar ve crm için Yazılımın bu kısmı, müşterileriyle ana iletişim yolu telefonla olan tüm işletmeler tarafından kullanılır. Bu bölümde, yeni ve eski müşterilere gelen ve giden tüm çağrıları bir bulut alanında alır ve saklar. Bu şekilde, kullanıcılar ve yetkililer müşterileri tek tek ele alabilir .
                    Bu ürünle, gelen, giden ve kaybolan çağrıların bilgi ve kayıtlarına ve güzergahın kaydı da dahil olmak üzere her çağrının ayrıntılarına erişebileceksiniz.
                </p>
                <div class="suport-media-box">
                    <div class="suport-media">
                        <img src="~/img/suport1.png" alt="CRM Yazılımı" />
                    </div>
                    <div class="suport-media">
                        <img src="~/img/suport2.png" alt="CRM programı" />
                    </div>
                </div>
            </div>
        </div>

    </section>



    @*without Content*@
    @*<section id="rank">
            <div class="rank-box">
                <div class="rank-item">
                    <span>100%</span>
                    <p>Success</p>
                </div>
                <div class="rank-item">
                    <span>700+</span>
                    <p>Online Courses</p>
                </div>
                <div class="rank-item">
                    <span>3M+</span>
                    <p>Trainees</p>
                </div>
                <div class="rank-item">
                    <span>120+</span>
                    <p>Trainers</p>
                </div>
            </div>
        </section>
    *@
    <section id="ads">
        <div class="ads-box">
            <h3>
                Müşteri İlişkileri Yönetimi
            </h3>
            <h4>
                Müşterilerle sınırsız iletişim
            </h4>
            <div class="text-box">
                <img src="~/img/wifi (1).png" />
                <p>
                    CRM yazılımı ile gelen, giden ve kayıp çağrıların bilgilerine ve kayıtlarına erişebilirsiniz. Her bağlantının ayrıntılar sayesinde, her bir müşterinin ihtiyaçlarını özelleştirebilirsiniz.
                </p>
            </div>

            <div class="ads-media">
                <div class="ads-media-item">
                    <img src="~/img/Home02-b_07.jpg" />
                </div>
                <div class="ads-media-item">
                    <img src="~/img/Home02-b_09.jpg" />
                </div>
                <div class="ads-media-item">
                    <img src="~/img/Home02-b_11.jpg" />
                </div>
            </div>

            <div class="text-box">
                <img src="~/img/computer.png" />
                <p>
                    CRM programı, müşteriyi unutmamak, müşteri faaliyetlerinin tarihine hızlı erişim, görevleri yönetme görevinden zevk ve memnuniyetini unutmamak için kullanılabilecek avantajlara gaming ve diğer birçok kişisel ve profesyonel özelliklerine sahiptir.
                </p>
            </div>
        </div>
    </section>

    <section id="options">
        <h2>
            Müşteri İlişkileri Yöneticisi
        </h2>
        <div class="option-box">
            <div class="option-item">
                <img src="~/img/lock.png" alt="Yatırım Getirisini" title="Yatırım Getirisini" />
                <h3>Yatırım Getirisini</h3>
                <span>
                    CRM yazılımının yatırım getirisi 7 kattan fazla ve dünyadaki küçük şirketlerin% 60'ından fazlası bulut CRM kullanıyor.
                </span>
            </div>
            <div class="option-item">
                <img src="~/img/dailog.png" alt="Düzenli takip" title="Düzenli takip" />
                <h3>Düzenli takip</h3>
                <span>
                    CRM yazılımından önce, takip düzensizlikleri, insanlara bağımlılık, dağınık satışlar ve işin net bir resminin olmaması.
                </span>
            </div>
            <div class="option-item">
                <img src="~/img/ballon.png" alt="kolay kullanmak" title="kolay kullanmak" />
                <h3>kolay kullanmak</h3>
                <span>
                    Araştırmalar, CRM alıcılarının % 55'inden fazlası en önemli özellik olarak kullanım kolaylığını gördüğünü gösteriyor.
                </span>
            </div>

        </div>
    </section>

    @*<section id="footer">
            <div class="footer-box">
                <div class="footer-col">
                    <h5>Header</h5>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                </div>
                <div class="footer-col">
                    <h5>Another Header</h5>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                </div>
                <div class="footer-col">
                    <h5>The other one</h5>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                </div>
                <div class="footer-col">
                    <h5>Else one</h5>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                    <div>
                        <p>this is a title linking you to another page</p>
                    </div>
                </div>
            </div>
        </section>*@

    <section id="contact">
        <div class="contact">
            <h2>İletişim</h2>
            <a href="tel:+905526278675">(+90)552-627-8675</a>
            <a href="mail:info@TurkCRM.Net">info@turkcrm.net</a>
            @*<p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>*@

        </div>
        <div class="world-map">
            <img src="~/img/map.png" alt="ücretsiz müşteri ilişkileri Yöneticisi" />
        </div>
    </section>

</main>
