<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TurkCRM</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="main-nav">
            <div class="logo">
                <img src="~/img/Logo.jpg" id="logo" class="max-logo" />
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Products</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Web App</a>
                            </li>
                            <li>
                                <a href="#">Consult</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="header">
            <div class="laptop">
                <img src="~/img/laptop.png" />
            </div>
            <div class="wom">
                <img src="~/img/wom-01.png" />
                <div class="wom-title">
                    <span>
                        Customer Service Managment
                    </span>
                    <hr />
                    <span class="under-title">
                        Customer Service Managment
                    </span>
                </div>
            </div>
        </div>

    </header>


    @RenderBody()
    <script src="~/js/jquery-3.5.1.min.js"></script>
    @*<script src="~/js/popper.min.js"></script>*@
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
