@import url('../fonts/Colaborate/style.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Colaborate;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*----------------------------------------------------*/


.main-nav {
    width: 100%;
    background: #fff;
    height: 50px;
    position: fixed;
    top: 0;
    display: flex;
}

.main-nav-scroll {
    z-index: 999;
    width: 100%;
    background: #fff;
    height: 50px;
    position: fixed;
    top: 0;
    display: flex;
}

.logo {
    flex: 1;
    padding: 0 0 0 100px;
}

.min-logo {
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    width: 50px;
}

.max-logo {
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    width: 100px;
}

.menu {
    flex: 10;
}

    .menu > ul > li {
        display: inline-block;
        padding: 0 10px;
    }

        .menu > ul > li:hover .sub-menu {
            display: block;
        }

        .menu > ul > li > a {
            line-height: 50px;
            text-decoration: none;
        }

    .menu .sub-menu {
        position: absolute;
        border: 1px solid gainsboro;
        border-radius: 10px;
        background: #fff;
        box-shadow: 2px 2px 5px #808080;
        display: none;
    }

        .menu .sub-menu > li {
            min-width: 150px;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

            .menu .sub-menu > li:last-child {
                border-bottom: none
            }

            .menu .sub-menu > li a {
                text-decoration: none;
            }

.header {
    display: flex;
}

.laptop {
    margin-top: 150px;
    flex: 6;
}

    .laptop > img {
        width: 90%;
    }

.wom {
    flex: 6;
    z-index: 99;
    position: relative;
    top: -125px;
    overflow: hidden;
}

    .wom > img {
        width: 120%;
    }

    .wom .wom-title {
        position: absolute;
        top: 180px;
        left: 100px;
        color: #fff;
        display: inline-block;
        width: 250px;
    }

        .wom .wom-title > span:first-child {
            font-size: 2.7em;
            word-spacing: 9999999px;
            font-weight: bold;
        }

        .wom .wom-title > hr {
            border-color: #fff;
        }

        .wom .wom-title > span:last-child {
            opacity: 0.7;
            letter-spacing: 0.5px;
        }

header {
    height: 530px;
}

main {
    background: rgb(249,247,248);
    width: 100%;
    padding: 20px 0;
}

#description {
    display: flex;
    min-height: 230px;
    padding: 0 100px;
}

    #description .des {
        flex: 6;
    }

        #description .des p {
            text-align: justify;
            line-height: 20px;
        }

#media {
    min-height: 300px;
    text-align: center;
    padding: 0 100px 70px;
}

    #media .media-title {
        margin-bottom: 20px;
    }

    #media h1 {
        font-weight: bold;
        color: rgb(52,60,71);
        font-size: 26px;
    }


    #media .media-content {
        flex: 6;
        padding: 30px 30px;
        display: inline-block;
    }

        #media .media-content img {
            width: 350px;
        }


#suport {
    background: rgb(82,182,216);
    min-height: 350px;
    width: 100%;
    padding: 50px 200px;
}


    #suport .suport-main {
        position: relative;
        overflow: hidden;
    }

.suport-main > img {
    width: 550px;
    opacity: 0.5;
}

.suport-text {
    position: absolute;
    z-index: 2;
    width: 500px;
    display: inline-block;
    top: 0;
    color: #fff;
    right: 0;
}

    .suport-text h2 {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        font-size: 26px;
    }

    .suport-text hr {
        border: 1.5px solid rgb(220,199,28);
    }

    .suport-text p {
        text-align: justify;
        font-size: 14px;
    }

.suport-media-box {
    display: block;
    margin-top: 30px;
    width: 100%;
    padding: 0;
}

    .suport-media-box .suport-media {
        display: inline-block;
        width: 45%;
        margin-right: 20px;
    }

        .suport-media-box .suport-media img {
            width: 100%;
        }


#options {
    min-height: 350px;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

    #options .option-box {
    }

        #options .option-box .option-item {
            display: inline-block;
            background: #fff;
            box-shadow: 2px 2px 5px #888888;
            border-radius: 5px;
            padding: 35px 40px;
            text-align: center;
            margin: 15px;
        }

.option-item h3 {
    font-weight: bold;
    font-size: 24px;
}

#options h1 {
    font-weight: bold;
    font-size: 26px;
    margin: 35px 0 30px;
}

.option-item span {
    display: block;
    max-width: 250px;
    padding: 10px 0 0 0;
    line-height: 25px;
    font-weight: bold;
    height: auto;
}

#contact {
    min-height: 350px;
    background: rgb(82,182,216);
    padding: 0 100px;
}

    #contact .world-map {
        display: inline-block;
        float: right;
    }

    #contact .contact {
        display: inline-block;
        padding: 50px 0;
    }

        #contact .contact h2 {
            color: #fff;
            font-weight: bold;
            font-size: 26px;
        }

        #contact .contact > a {
            color: rgb(254,247,143);
            text-decoration: none;
            font-size: 20px;
            margin-top: 20px;
            display: block;
            font-weight: bold;
        }

        #contact .contact > p {
            text-align: justify;
            display: block;
            color: #fff;
            max-width: 350px;
            margin-top: 30px;
        }

#content {
    width: 100%;
    height: 150px;
    background: rgb(28,176,202);
}

    #content .content-box {
        width: 80%;
        margin: 0 auto;
        display: flex;
    }

        #content .content-box .content-item {
            flex: 6;
            display: flex;
            padding: 50px 30px;
        }

            #content .content-box .content-item:nth-child(2n) > span {
                border-left: 1px solid #ccc;
                padding-left: 30px;
            }

            #content .content-box .content-item .content-text {
                display: inline-block;
                padding-left: 20px;
            }

                #content .content-box .content-item .content-text h3 {
                    color: #fff;
                    font-weight: bold;
                    font-size: 1.5em;
                    margin-bottom: 15px;
                }

                #content .content-box .content-item .content-text p {
                    color: #fff;
                }

            #content .content-box .content-item i {
                color: #fff;
                font-size: 2em;
            }




footer {
    width: 100%;
    text-align: center;
    height: 50px;
}

    footer p {
        text-align: right;
        position: absolute;
        left: 45%;
        font-weight: bold;
    }


#gallery {
    width: 100%;
    padding: 50px 0;
}

    #gallery .gallery-box {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

        #gallery .gallery-box h3 {
            font-size: 1.8em;
        }

        #gallery .gallery-box .gallery-item-box {
            text-align: center;
            display: flex;
            margin-top: 50px;
        }

            #gallery .gallery-box .gallery-item-box .gallery-item {
                flex: 4;
                border-radius: 5px;
                flex-direction: row;
                margin-right: 10px;
            }


                #gallery .gallery-box .gallery-item-box .gallery-item:last-child {
                    height: 550px;
                   
                }

                    #gallery .gallery-box .gallery-item-box .gallery-item:last-child .min-box > img {
                        height: 520px;
                        width: 100%;
                    }

    #gallery .box-text {
        width: 100%;
        height: 50px;
        background: rgb(28,176,202);
        top: -5px;
        position: relative;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #fff;
    }

        #gallery .box-text span {
            width: 100%;
            line-height: 50px;
            text-align: left;
            display: block;
            padding: 0 20px;
        }

    #gallery .min-box-mask {
        width: 150%;
        height: 102%;
        background: rgba(51,51,51,0.8);
        background-size: cover;
        position: absolute;
        border-radius: 5px;
        z-index: 1;
        transition: 0.4s all;
        transform: rotate(45deg);
        left: -3100%;
        top: -300%;
        text-align: center;
        /*display: none;*/
    }

        #gallery .min-box-mask > p {
            color: #fff;
            padding: 150px;
        }

    #gallery .min-box {
        display: inline-block;
        position: relative;
        overflow: hidden;
    }

        #gallery .min-box:hover > .min-box-mask {
            /*display: block;*/
            transform: rotate(0);
            left: -25%;
            top: -10px;
        }
