@font-face {
    font-family: 'Colaborate';
    src: url(/fonts/Colaborate/Colaborate.eot);
    src: url('/fonts/Colaborate/Colaborate.eot?#iefix') format('embedded-opentype'),url(/fonts/Colaborate/Colaborate.woff2) format('woff2'),url(/fonts/Colaborate/Colaborate.woff) format('woff'),url(/fonts/Colaborate/Colaborate.ttf) format('truetype'),url('/fonts/Colaborate/Colaborate.svg#Colaborate') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Colaborate';
    src: url(/fonts/Colaborate/Colaborate-Medium.eot);
    src: url('/fonts/Colaborate/Colaborate-Medium.eot?#iefix') format('embedded-opentype'),url(/fonts/Colaborate/Colaborate-Medium.woff2) format('woff2'),url(/fonts/Colaborate/Colaborate-Medium.woff) format('woff'),url(/fonts/Colaborate/Colaborate-Medium.ttf) format('truetype'),url('/fonts/Colaborate/Colaborate-Medium.svg#Colaborate-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Colaborate;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

p {
    line-height: 20px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*----------------------------------------------------*/

section {
    clear: both;
    overflow: hidden;
}

.list-style-disc {
    list-style: disc;
}

.list-ul {
    padding: 10px 15px;
}

.main-nav {
    width: 100%;
    background: #fff;
    height: 50px;
    position: fixed;
    top: 0;
    display: flex;
}

.nav-icon {
    display: none;
}

.article-text {
    padding: 0 15px;
}

.main-nav-scroll {
    z-index: 999;
    width: 100%;
    background: #fff;
    height: 50px;
    position: fixed;
    top: 0;
    display: flex;
}

.logo {
    flex: 1;
    padding: 0 0 0 100px;
}

.min-logo {
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    width: 50px;
}

.nav-close-icon {
    display: none;
}

.max-logo {
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    width: 100px;
}

.menu {
    flex: 10;
}

    .menu > ul > li {
        display: inline-block;
        padding: 0 10px;
    }

        .menu > ul > li:hover .sub-menu {
            display: block;
        }

        .menu > ul > li > a {
            line-height: 50px;
            text-decoration: none;
        }

    .menu .sub-menu {
        position: absolute;
        border: 1px solid gainsboro;
        border-radius: 10px;
        background: #fff;
        box-shadow: 2px 2px 5px #808080;
        display: none;
    }

        .menu .sub-menu > li {
            min-width: 150px;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

            .menu .sub-menu > li:last-child {
                border-bottom: none
            }

            .menu .sub-menu > li a {
                text-decoration: none;
            }

.header {
    display: flex;
}

.article {
    padding: 150px 0;
}

.page-title {
    text-align: center;
    padding: 20px 0;
}

    .page-title h1, .page-title h2, .page-title h3 {
        font-weight: bold;
        font-size: 24px;
    }

.article-text p {
    text-align: justify;
    display: block;
}

.article-text h1, .article-text h2, .article-text h3 {
    /*text-align: center;*/
    font-weight: bold;
    font-size: 24px;
    padding: 20px 0;
}

.content {
    min-height: 450px;
}

.laptop {
    margin-top: 150px;
    flex: 6;
}

    .laptop > img {
        width: 90%;
    }

.wom {
    flex: 6;
    z-index: 99;
    position: relative;
    top: -125px;
    overflow: hidden;
    display: block;
}

    .wom > img {
        width: 120%;
    }

    .wom .wom-title {
        position: absolute;
        top: 180px;
        left: 100px;
        color: #fff;
        display: inline-block;
        width: 250px;
    }

        .wom .wom-title > h1:first-child {
            font-size: 2.7em;
            word-spacing: 9999999px;
            font-weight: bold;
        }

        .wom .wom-title > hr {
            border-color: #fff;
        }

        .wom .wom-title > span:last-child {
            opacity: 0.7;
            letter-spacing: 0.5px;
        }

main {
    background: rgb(249,247,248);
    width: 100%;
    padding-top: 20px;
    margin-top: -195px;
}

#description {
    display: flex;
    min-height: 230px;
    padding: 0 100px;
}

    #description .des {
        flex: 6;
    }

        #description .des p {
            text-align: justify;
            line-height: 20px;
            padding: 25px 0px;
        }

#media {
    text-align: center;
    padding: 35px 100px;
}

.media-title {
    margin-bottom: 20px;
}

#media h2 {
    font-weight: bold;
    color: rgb(52,60,71);
    font-size: 26px;
}


.media-content {
    flex: 6;
    padding: 30px 30px;
    display: inline-block;
}

.btn-big {
    width: 200px;
    padding: 25px 20px;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    text-align:center;
    box-shadow: 3px 3px 5px #888888;
}

    .btn-big:hover {
        -webkit-transition: transform 0.2s ease-in-out;
        -moz-transition: transform 0.2s ease-in-out;
        -o-transition: transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
        transform: scale(1.1, 1.1);
        text-decoration: none;
        color: #fff;
    }

.dark-gray {
    background: #333;
}

.dark-blue {
    background: #1a649b;
}

.media-content img {
    width: 350px;
}


#suport {
    background: rgb(82,182,216);
    min-height: 350px;
    width: 100%;
    padding: 50px 200px;
}


    #suport .suport-main {
        position: relative;
        overflow: hidden;
    }

.suport-main > img {
    width: 550px;
    opacity: 0.5;
}

.suport-text {
    position: absolute;
    z-index: 2;
    width: 500px;
    display: inline-block;
    top: 0;
    color: #fff;
    right: 0;
}

    .suport-text h2 {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        font-size: 26px;
    }

    .suport-text hr {
        border: 1.5px solid rgb(220,199,28);
    }

    .suport-text p {
        text-align: justify;
        font-size: 14px;
    }

.suport-media-box {
    display: block;
    margin-top: 30px;
    width: 100%;
    padding: 0;
}

    .suport-media-box .suport-media {
        display: inline-block;
        width: 45%;
        margin-right: 20px;
    }

        .suport-media-box .suport-media img {
            width: 100%;
        }


#options {
    min-height: 350px;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

    #options .option-box {
    }

        #options .option-box .option-item {
            display: inline-block;
            background: #fff;
            box-shadow: 2px 2px 5px #888888;
            border-radius: 5px;
            padding: 35px 40px;
            text-align: center;
            margin: 15px;
        }

.option-item h3 {
    font-weight: bold;
    font-size: 24px;
}

#options h2 {
    font-weight: bold;
    font-size: 26px;
    margin: 35px 0 30px;
}

.option-item span {
    display: block;
    max-width: 250px;
    padding: 10px 0 0 0;
    line-height: 25px;
    font-weight: bold;
    height: auto;
}

#contact {
    min-height: 400px;
    background: rgb(82,182,216);
    padding: 0 100px;
}

    #contact .world-map {
        display: inline-block;
        float: right;
    }

    #contact .contact {
        display: inline-block;
        padding: 50px 0;
    }

        #contact .contact h2 {
            color: #fff;
            font-weight: bold;
            font-size: 26px;
        }

        #contact .contact > a {
            color: rgb(254,247,143);
            text-decoration: none;
            font-size: 20px;
            margin-top: 20px;
            display: block;
            font-weight: bold;
        }

        #contact .contact > p {
            text-align: justify;
            display: block;
            color: #fff;
            max-width: 350px;
            margin-top: 30px;
        }

#content {
    width: 100%;
    /*height: 150px;*/
    background: rgb(28,176,202);
}

    #content .content-box {
        width: 80%;
        margin: 0 auto;
        display: flex;
    }

        #content .content-box .content-item {
            flex: 6;
            display: flex;
            padding: 50px 30px;
        }

            #content .content-box .content-item:nth-child(2n) > span {
                border-left: 1px solid #ccc;
                padding-left: 30px;
            }

            #content .content-box .content-item .content-text {
                display: inline-block;
                padding-left: 20px;
            }

                #content .content-box .content-item .content-text h3 {
                    color: #fff;
                    font-weight: bold;
                    font-size: 1.5em;
                    margin-bottom: 15px;
                }

                #content .content-box .content-item .content-text p {
                    color: #fff;
                    text-align: justify;
                }

            #content .content-box .content-item i {
                color: #fff;
                font-size: 2em;
            }




footer {
    width: 100%;
    text-align: center;
    height: 50px;
    background: #333;
}

    footer p {
        color: #fff;
        line-height: 50px;
    }


#gallery {
    width: 100%;
    padding: 50px 0;
    height: 700px;
}

    #gallery .gallery-box {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

        #gallery .gallery-box h2 {
            font-size: 1.8em;
        }

        #gallery .gallery-box .gallery-item-box {
            margin-top: 50px;
            text-align: left;
        }

    #gallery .box-text {
        width: 100%;
        height: 50px;
        background: rgb(28,176,202);
        top: -5px;
        position: relative;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #fff;
    }

        #gallery .box-text span {
            width: 100%;
            line-height: 50px;
            text-align: left;
            display: block;
            padding: 0 20px;
        }

    #gallery .min-box-mask {
        width: 92%;
        height: 98%;
        background: rgba(51,51,51,0.8);
        background-size: cover;
        position: absolute;
        border-radius: 5px;
        z-index: 1;
        transition: 0.4s all;
        /*transform: rotate(45deg);*/
        top: -300%;
        text-align: center;
        /*display: none;*/
    }

        #gallery .min-box-mask > p {
            color: #fff;
            padding: 15px 25px;
            text-align: justify;
            line-height: unset;
        }

    #gallery .min-box {
        display: inline-block;
        position: relative;
        overflow: hidden;
        max-width: 33.333333%;
        padding: 0 15px;
        /*float: left;*/
    }

.box-3 {
    left: 66.333334%;
    top: -260.02px;
}

.box-5 {
    top: -520px;
}

.box-4 {
    top: -260px;
}

#gallery .min-box img {
    width: 100%;
}

#gallery .min-box:hover > .min-box-mask {
    top: 0px;
}

#rank {
    width: 100%;
    background: #fff;
    padding: 20px 0 50px;
}

    #rank .rank-box {
        width: 80%;
        margin: 0 auto;
        display: flex;
    }

        #rank .rank-box .rank-item {
            flex: 3;
            text-align: center;
            padding: 20px 0;
            border-left: 1px solid #ccc;
        }

            #rank .rank-box .rank-item:first-child {
                border-left: none;
            }

            #rank .rank-box .rank-item > span {
                color: rgb(30,175,202);
                font-size: 2.2em;
                text-align: center;
            }

            #rank .rank-box .rank-item > p {
                padding: 10px 0;
                font-size: 14px;
                text-align: center;
                color: #333;
                opacity: 0.8;
            }

#ads {
    width: 100%;
    background: rgb(238,238,238);
    background-image: url(/img/ads.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    height: 580px;
}


    #ads .ads-box {
        width: 80%;
        margin: auto;
        padding: 100px 0;
    }

        #ads .ads-box h3 {
            font-size: 3em;
        }

        #ads .ads-box h4 {
            color: rgb(244,133,176);
            font-size: 2em;
            padding: 20px 0;
            display: inline-block;
            border-bottom: 1px solid rgb(213,213,213);
        }

        #ads .ads-box .text-box {
            display: flex;
            padding: 15px 0;
            width: 40%;
        }

            #ads .ads-box .text-box > img {
                width: 40px;
                height: 40px;
            }


            #ads .ads-box .text-box > p {
                padding: 0 20px;
                text-align: justify;
                font-size: 14px;
            }


    #ads .ads-media {
        display: flex;
        padding: 15px 60px;
        width: 40%;
    }

        #ads .ads-media .ads-media-item {
            flex: 4;
            padding: 0 5px;
        }

            #ads .ads-media .ads-media-item img {
                width: 100px;
            }

#footer {
    background: rgb(28,176,202);
    width: 100%;
    padding: 50px 0;
}

    #footer .footer-box {
        width: 80%;
        margin: 0 auto;
        display: flex;
        padding-left: 100px;
    }

        #footer .footer-box .footer-col {
            flex: 3;
            flex-direction: row;
            color: #fff;
            padding: 10px;
        }

            #footer .footer-box .footer-col > h5 {
                font-size: 1.2em;
            }

            #footer .footer-box .footer-col > div {
                border-bottom: 1px solid gainsboro;
                padding: 15px 0;
            }
.media-box{
    text-align:center;
}

@media (max-width: 1300px) {
    .box-5 {
        top: -507px;
    }
}

@media (max-width: 1200px) {


    .logo {
        flex: 1;
        padding: 0 0 0 40px;
    }

    #media {
        padding: 0;
        width: 100%;
        overflow: hidden;
    }

    main {
        background: rgb(249,247,248);
        width: 100%;
        padding-top: 20px;
        margin-top: -130px;
    }

    #description {
        min-height: 130px;
    }

        #description .des:last-child {
            display: none;
        }

    #suport {
        padding: 50px 0;
    }

    .suport-text {
        right: 20px;
    }


    .box-3 {
        left: 66.333334%;
        top: -205px;
    }

    .box-5 {
        top: -410px;
    }

    .box-4 {
        top: -205px;
    }

    #gallery {
        height: 600px;
    }

    #ads {
        height: 460px;
    }

        #ads .ads-media {
            padding: 0;
        }

        #ads .ads-box {
            padding: 20px 0;
        }

            #ads .ads-box .text-box > p {
                font-size: 12px;
            }

            #ads .ads-box h3 {
                font-size: 2em;
            }

            #ads .ads-box h4 {
                font-size: 1.5em;
            }

            #ads .ads-box .text-box > img {
                width: 30px;
                height: 30px;
            }
}

@media (max-width: 992px) {

    .box-4, .box-5 {
        top: -192px;
    }

    #description .des:last-child {
        display: none;
    }

    .media-box {
        display: flex;
        text-align: center;
    }

    #gallery {
        height: 1050px;
    }

        #gallery .min-box {
            display: inline-block;
            position: relative;
            overflow: hidden;
            max-width: 50%;
            padding: 0 15px;
            float: none;
            width: 100%;
        }




    .box-2 {
        left: 50%;
        top: -272px;
    }

    .box-3 {
        top: -245px;
        left: 50%;
    }

    .box-4 {
        top: -825px;
    }

    .box-5 {
        top: -800px;
    }

    #suport {
        padding: 50px 20px;
    }

    #contact .contact {
        position: absolute;
    }

    #contact .world-map > img {
        width: 70%;
        float: right;
    }

    #ads .ads-box .text-box {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .wom {
        display: none;
    }

    .btn-big {
        width: 90%
    }

    .laptop {
        margin-top: 100px;
        width: 100%;
    }

    main {
        background: rgb(249,247,248);
        width: 100%;
        padding-top: 20px;
        margin-top: 0px;
    }

    #description .des:last-child {
        display: none;
    }

    #content {
        height: auto;
    }

    .media-content {
        padding: 30px 0;
    }

    #content .content-box {
        display: block;
    }

        #content .content-box .content-item:nth-child(2n) > span {
            border-left: none;
            padding-left: 0;
        }

        #content .content-box .content-item:nth-child(2n+1) {
            border-bottom: 1px solid #eef;
        }

    #gallery .gallery-box .gallery-item-box {
        display: block;
    }

    #gallery .gallery-box {
        width: 100%;
    }

    .box-1, .box-2, .box-3, .box-4, .box-5 {
        max-width: 80%;
        width: 80%;
    }

    #gallery .min-box img {
        width: 100%;
    }

    #gallery .gallery-box .gallery-item-box .gallery-item:last-child .min-box > img {
        height: 540px;
    }

    #suport {
        padding: 50px 20px 0 0;
    }
}

@media (max-width: 576px) {

    .media-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 38px;
        padding-top: 20px;
    }

    .media-content {
        margin-bottom: 10px;
    }

    .btn-big {
        width: 100%;
    }

    #ads .ads-box h3 {
        font-size: 1.7em;
    }

    #ads .ads-box h4 {
        font-size: 1.5em;
        text-shadow: 3px 0px 1px #000;
    }

    #ads .ads-box .text-box > p {
        font-size: 14px;
    }

    .logo {
        flex: 1;
        padding: 0 0 0 30px;
    }

    .laptop > img {
        width: 100%;
    }

    .main-nav-scroll {
        z-index: 999;
        width: 100%;
        background: #fff;
        height: 50px;
        position: fixed;
        top: 0;
        display: block;
    }

        .main-nav-scroll .logo {
            float: right;
            display: inline-block;
            padding-right: 30px;
        }

        .main-nav-scroll .menu {
            padding: 2px 20px;
            display: inline-block;
            width: 22%;
            float: left;
        }

        .main-nav-scroll .nav-icon {
            display: inline-block;
            font-size: 2em;
        }


    #media {
        padding: 0;
        width: 100%;
    }



    .media-content {
        padding: 0;
        display: inline-block;
    }

        .media-content img {
            width: 100%;
        }

    #description {
        display: block;
        min-height: 230px;
        padding: 15px 20px;
        margin-bottom: 30px;
        border-radius: 10px;
    }

    .main-nav {
        display: block;
    }


        .main-nav .logo {
            float: right;
            padding-right: 30px;
            display: inline-block;
        }

        .main-nav .menu {
            padding: 2px 20px;
            display: inline-block;
            width: 22%;
            float: left;
        }

        .main-nav .nav-icon {
            display: inline-block;
            font-size: 2em;
        }

    .menu > ul {
        position: absolute;
        z-index: 999;
        background: #eef;
        left: 0;
        width: 250px;
        left: -100%;
        border-top-right-radius: 10px;
        min-height: 500px;
        -webkit-transition: left 0.8s ease-in-out;
        -moz-transition: left 0.8s ease-in-out;
        -o-transition: left 0.8s ease-in-out;
        transition: left 0.8s ease-in-out;
    }

    .nav-icon {
        line-height: 50px;
    }

    .max-logo {
        width: 100px;
    }

    .menu.responsive > ul {
        -webkit-transition: left 0.5s ease-in-out;
        -moz-transition: left 0.5s ease-in-out;
        -o-transition: left 0.5s ease-in-out;
        transition: left 0.5s ease-in-out;
        left: 0;
    }

        .menu.responsive > ul li {
            display: block;
            float: none;
            padding-left: 35px;
        }

    .nav-close-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .menu .sub-menu {
        position: unset;
        border: none;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        display: none;
    }

    #content {
        width: 100%;
        height: auto;
        background: rgb(28,176,202);
    }

        #content .content-box {
            width: 80%;
            margin: 0 auto;
            display: block;
        }

            #content .content-box .content-item {
                display: block;
                padding: 50px 20px;
                text-align: center;
            }

                #content .content-box .content-item:nth-child(2n+1) {
                    border-bottom: 1px solid #eef;
                }

                #content .content-box .content-item .content-text {
                    display: block;
                    padding-left: 0;
                    padding-top: 20px;
                }

                #content .content-box .content-item:nth-child(2n) > span {
                    border-left: none;
                    padding-left: 0;
                }

    #gallery {
        height: 1540px;
    }

        #gallery .gallery-box {
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }

        #gallery .min-box {
            max-width: 100%;
        }

        #gallery .min-box-mask {
            height: 99%;
        }

    #suport {
        padding: 50px 0;
    }

    .suport-text {
        position: unset;
        z-index: 0;
        width: 100%;
        display: block;
        color: #fff;
        text-align: center;
        padding: 0 20px;
    }

    .suport-media-box .suport-media {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    #rank {
        padding: 20px 0 20px;
    }

        #rank .rank-box {
            display: block;
            text-align: center;
            width: 100%;
        }

            #rank .rank-box .rank-item {
                display: inline-block;
                width: 45%;
                margin-bottom: 20px;
                text-align: center;
                padding: 20px 0;
                border-left: none;
            }

                #rank .rank-box .rank-item:nth-child(2n) {
                    border-left: 1px solid #ccc;
                }

    #contact {
        padding: 0 20px;
    }

        #contact .world-map {
            display: none;
        }

    #ads {
        height: auto;
    }

        #ads .ads-box {
            padding: 50px 0;
        }

            #ads .ads-box .text-box {
                display: flex;
                padding: 15px 0;
                width: 100%;
            }

        #ads .ads-media {
            display: block;
            padding: 0;
            width: 100%;
            text-align: center;
        }

            #ads .ads-media .ads-media-item {
                padding: 0;
                width: 40%;
                display: inline-block;
            }

    .box-2 {
        left: 0;
        top: 0;
    }

    .box-3 {
        top: 0;
        left: 0;
    }

    .box-4 {
        top: 0;
    }

    .box-5 {
        top: 0;
    }

    footer p {
        text-align: right;
        position: absolute;
        left: 19%;
        font-weight: bold;
        color: #fff;
        line-height: 50px;
    }
}
